img {
  width: 300px;
  max-height: 200px;
  margin: 0 auto;
}
.card {
  position: relative;
  min-height: 200px;
  cursor: pointer;
  padding: 2em;
}

.card-wrapper {
  position: absolute;
  right: 7px;
  top: 20px;
}

.card-title {
  font-family: monospace;
  font-size: 16px;
  color: #2D9596;
}

.card-content {
  font-family: monospace;
  font-size: 12px;
}